doctype
html
  head
    title= "Zaliczenie"
    h1 Zaliczenie
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        span
          a(href="/") Home
        span 
          a(href="/about") About
        span 
          a(href="/contact") Contact
    section#wrapper
        block body
        footer 
          p Bartłomiej Szmajda